/* Don't need button navigation */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #faf7f2;
  font-family: NB International Pro, ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  color: #333335;
}

* {
  box-sizing: border-box;
}
img {
  object-fit: cover;
  // position: relative;
  top: 0;
  left: 0;
  min-width: 17.75rem;
  border-radius: 10px;
  min-height: 10rem;
  max-height: 13rem;
}

div.news-slider {
  width: 800px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  // scroll-snap-type: x mandatory;
  // scroll-behavior: smooth;
  // -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: transparent;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-direction: column;
}
.slides a > img {
  width: 280px;
  height: 190px;
}
.slides a {
  margin-top: 1rem;
  flex-direction: column-reverse;
}

.info-box span {
  color: #656568;
}
.axios-button {
  display: flex;
  background: #2559da;
  color: white;
  margin-top: 1rem;
  width: 22rem;
  border-radius: 10px;
  padding-top: 1rem;
  margin: 0 auto;
  font-size: 1rem;
  justify-content: center;
  height: 50px;
  border: none;
  cursor: pointer;
}

.slider > a:focus {
  background: white;
}
.pagination-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem 15rem;
}

.pagination {
  text-decoration: none;
  border-radius: 50%;
  margin: 0 auto;
  color: black;
  width: 1.2rem;
  height: 1.25rem;
  &:focus {
    background: white;
  }
  &:active {
    font-weight: 800;
    top: 1px;
  }
}

// @supports (scroll-snap-type) {
//   .slider > a {
//     display: none;
//   }
// }

// The minimum width of the screen is 375px. The horizontal breakpoint is at 980px.

@media (max-width: 980px) {
  // html {
  //   overflow: none;
  // }
  body {
    display: block;
  }
  .pagination-container {
    display: none;
  }
  .axios-button {
    margin-top: 1.5rem;
  }
  h1 {
    text-align: center;
  }
  .slides {
    display: flex;
    align-items: center;
    overflow: auto;
    flex-direction: column;
    color: red;
  }
  .slides > div {
    margin-right: 0;
  }
  div.news-slider {
    width: 100%;
  }
}
